#diggers-delights-on-page{
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  width: auto!important;
  background-color: #20c997;
  border: 1px solid #199d76;
  border-radius: 2px;
  color: white;
  margin: 0!important;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Apercu Pro, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"!important;
  z-index: 20000;
}

#diggers-delights-on-page .like{
  font-size: 1.25em;
  padding: .2em .4em;
  line-height: 1;
  border-right: 1px solid #199d76;
}
#diggers-delights-on-page >*:hover{
  transform: scale(1.1);
}
#diggers-delights-on-page .like.liked{
  color: orangered;
}

#diggers-delights-on-page .dialog-trigger{
  padding: .2em .4em;
}

#diggers-delights-on-page.higher{
  bottom: 3.5em;
  left: .5em;
}
#diggers-delights-on-page :active{
  background-color: #199d76;

}
#diggers-delights-on-page img{
  margin-right: 4px;
  width: 16px!important;
  height: 16px!important;
}
